# Ignore all files by default
*

# Allow directories to be tracked
!*/

# Allow Python files
!*.py

# Allow Jupyter notebooks
!*.ipynb

# Allow Cython files
!*.pyx

# Allow Pyproject.toml file
!*.toml

# Allow LICENSE file
!*LICENSE

# Allow test and example data
!tests/test_data/*
!examples/example_data/*

# Allow README files
!*.md

# Allow .gitignore file
!*.gitignore