name: update versions

on:
  # Run this workflow after the generation of documents completes successfully
  workflow_run:
    workflows: ["documentation"]
    types:
      - completed

  # Allow the workflow to be run manually
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-versions:
    runs-on: ubuntu-latest
    if: >
      (github.event_name == 'workflow_run' &&
       github.event.workflow_run.conclusion == 'success') ||
       github.event_name == 'workflow_dispatch'

    steps:
      - name: Check out the current branch
        uses: actions/checkout@v4

      - name: Copy the update_versions.py script
        run: cp docs/source/update_versions.py /tmp/update_versions.py

      - name: Check out gh-pages branch
        uses: actions/checkout@v4
        with:
          ref: gh-pages

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Generate version_switcher.json and index.html
        run: python /tmp/update_versions.py

      - name: Deploy to GitHub pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./versionfiles
          destination_dir: .
          keep_files: true
          commit_message: "Update version numbering"